<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Babycare"
        tools:targetApi="31">
        <activity
            android:name=".ViewBabyClinic"
            android:exported="false" />
        <activity
            android:name=".BabyUpcomingClinic"
            android:exported="false" />
        <activity
            android:name=".BabyClinic"
            android:exported="false" />
        <activity
            android:name=".ViewMotherClinic"
            android:exported="false" />
        <activity
            android:name=".MotherUpcomingClinic"
            android:exported="false" />
        <activity
            android:name=".MotherClinic"
            android:exported="false" />
        <activity
            android:name=".BabyMed"
            android:exported="false" />
        <activity
            android:name=".BabyCourses"
            android:exported="false" />
        <activity
            android:name=".BabyBmi"
            android:exported="false" />
        <activity
            android:name=".MotherCourse"
            android:exported="false" />
        <activity
            android:name=".MotherMed"
            android:exported="false" />
        <activity
            android:name=".MotherBmi"
            android:exported="false" />
        <activity
            android:name=".ViewBaby"
            android:exported="false" />
        <activity
            android:name=".ViewPregnancy"
            android:exported="false" />
        <activity
            android:name=".Chat"
            android:exported="false" />
        <activity
            android:name=".Qr"
            android:exported="false" />
        <activity
            android:name=".Babies"
            android:exported="false" />
        <activity
            android:name=".Pregnancies"
            android:exported="false" />
        <activity
            android:name=".NoInternet"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>